body {background-color:beige}


.square {
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 2px solid black;
    position: absolute;
}



.square1 {
    width: 100px;
    height: 100px;
    top: 200;
    background-color: brown;
    border: 2px solid black;
    position: absolute;
}

